.container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.cardTitle {
    font-family: Inter;
    font-size: 19.91px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}

.card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.slider {
    display: flex;
    gap: 1rem;
    align-items: center;
}